
/* Import Font: Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Import Font: Mrs Saint Delafiel */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');


/* -------------------------------------------------- */
/* Color */
/* -------------------------------------------------- */
:root {
    /* Set: Yellow */
    --yellow: rgba(255, 210, 0, 1);
    --yellow-trans: rgba(255, 210, 0, 1);
    --yellow-blur: rgba(255, 210, 0, 0.5);

    /* Set: Blue */
    --blue: rgba(30, 144, 255, 1);
    --blue-trans: rgba(30, 144, 255, 0.3);
    --blue-blur: rgba(30, 144, 255, 0.2);

    /* Set: Green Darker */
    --green-dark: rgba(120, 162, 3, 1);
    --green-dark-trans: rgba(120, 162, 3, 1);
    --green-dark-blur: rgba(120, 162, 3, 0.5);

    /* Set: Purple Darker */
    --purple: rgba(143,0,255,1);
    --purple-trans: rgba(143,0,255,1);
    --purple-blur: rgba(143,0,255,0.3);

    /* Set: Black Darker */
    --black: rgba(27, 27, 27,1);
    --black-trans: rgba(27, 27, 27, 1);
    --black-blur: rgba(27, 27, 27,0.2);

    /* Set: Green */
    --green: rgba(184, 209, 29, 1);
    --green-trans: rgba(184, 209, 29, 1);
    --green-blur: rgba(184, 209, 29, 0.5);

    /* Set: Red */
    --red: rgba(212, 63, 62, 1);
    --red-trans: rgba(212, 63, 62, 1);
    --red-blur: rgba(212, 63, 62, 0.5);

    --gray: rgba(148,148,148,1);
}
/* -------------------------------------------------- */


body {
    margin: 0px 100px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Header */
header {
    width: 100%;
    height: fit-content;
}

.navbar {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    padding: 20px 0px;
}

.navbar div {
    display: flexbox;
    float: left;
    margin: 0px 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0px 10px;
}
/* -------------------------------------------------- */

/* a:link */
a {
    text-decoration: none;
}

a i {
    margin-left: 10px;
}

a.logo {
    font-weight: 800;
    background-color: var(--black);
    color: white;
    padding: 6px 20px;
    transition: 0.3s all ease;
}

a.link {
    color: black;
    margin: 0px 10px;
    padding: 9px 10px;
    transition: 0.3s all ease;
}

a.link:hover {
    color: var(--blue);
}

a.btn-border {
    padding: 6px 25px;
    background-color: var(--black);
    border-radius: 30px;
    transition: 0.3s all ease;
    color:white;
}

a.btn-border:hover {
    background-color: var(--black);
    box-shadow: 0px 7px 20px 0px var(--black-blur);
}

a.btn-solid {
    padding: 6px 25px;
    background-color: var(--blue);
    border-radius: 30px;
    transition: 0.3s all ease;
    color: white;
}

a.btn-solid:hover {
    box-shadow: 0px 7px 20px 0px var(--blue-blur);
}

a.btn-highlight {
    padding: 9px 25px;
    background-color: var(--green);
    border-radius: 30px;
    transition: 0.3s all ease;
    color: white;
}

a.btn-highlight:hover {
    box-shadow: 0px 7px 20px 0px var(--green-blur);
}
/* -------------------------------------------------- */

/* Landing: Welcome */
.welcome-title {
    margin: 0px 30px 10px 30px;
    padding: 50px;
    width: 500px;
    word-wrap: break-word;
}

.welcome-title h1 {
    font-weight: 400;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 100px;
}

.welcome-title p {
    margin-bottom: 30px;
}

img.welcome-img {
    width: 500px;
    position: absolute;
    top: 100px;
    right: 150px;
}
/* -------------------------------------------------- */


/* Form */
.form {
    margin: 0px 30px 30px 100px;
    padding: 30px 50px;
    width: max-content;
    word-wrap: break-word;
}

.form input[type=email], input[type=password], input[type=text], input[type=date] {
    margin-top: 10px;
}

/* Radio button div */
.btn-radio {
    padding: 5px 20px 5px 10px;
    margin: 5px 0px 0px 10px;
    background-color: rgb(245,245,245);
    border-radius: 30px;
    display: block;
}

img.form-img {
    width: 500px;
    position: absolute;
    top: 80px;
    right: 200px;
}

/* Label show error */
.error {
    font-size: 12px;
    font-weight: 200px;
    padding: 5px 10px;
    word-wrap: break-word;
}

/* Button under form */
.btn-under-form {
    margin-top:10px;
    display: flex;
    justify-content: center;
}

/* Login: Gender & Birthdate */
.gender-birthdate {
    display: flex;
    width: fit-content;
    padding-bottom: 10px;
}

.gender-pick {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.birthdate-pick {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

/* -------------------------------------------------- */


/* Input */
input[type=submit] {
    width: 100%;
    padding: 9px 0px;
    background-color: var(--blue);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

input[type=submit]:hover {
    box-shadow: 0px 7px 20px 0px var(--blue-blur);
}

input[type=email], input[type=password], input[type=text], input[type=date] {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
/* -------------------------------------------------- */

/* Message div*/
.message {
    margin: 0px 30px 30px 100px;
    padding: 100px 50px;
    width: 400px;
    
    word-wrap: break-word;
    line-height: 2em;
}
/* -------------------------------------------------- */

/* Footer */
footer {
	background-color: var(--black); 
	color: var(--gray); 
	text-align: center; 
	font-weight: 100;
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

footer p {
    margin: 10px 0;
}
/* -------------------------------------------------- */

